<app-header titulo="seleccionar libro"></app-header>

<ion-content >

  <ion-item >
    <ion-searchbar type="text" [(ngModel)]="libro.nombre" animated="true" placeholder="buscar nombre libro"></ion-searchbar>
  </ion-item>

<ion-list>
  <ion-list-header>
    <ion-label class="ion-text-center">Listado de libros disponibles</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>
      <h3>Fisica basica 1</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Historia Humana</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Conducción</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>La herejia de orus</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>eragon</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>asdf movie</h3>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
