<app-header titulo="Inicio Sesión"></app-header>

<ion-content>

    <form #miformulario="ngForm" (ngSubmit)="login()">
      <ion-list>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input required  type="text" name="usr" [(ngModel)]="usuario.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input required type="password" name="pass" [(ngModel)]="usuario.password"></ion-input>
      </ion-item>
      
        <ion-button class="ion-text-capitalize" type="submit" [disabled]="miformulario.invalid" >
          inicar sesión
        </ion-button>

        <ion-button class="ion-text-capitalize" routerLink="/login-arrendatario">
          inicar sesión como arrendador
        </ion-button> 
      
      <ion-item lines="none">
        <ion-label routerLink="/registrar-usuario" class="ion-text-center">
          Crear cuenta
        </ion-label>
      </ion-item>
      
    </ion-list>


    </form>




</ion-content>