<app-header titulo="Crear usuario"></app-header>

<ion-content >
  
  <div>
    <ion-text color="primary" class="ion-text-center">
     <h1>Crear Cuenta</h1>
    </ion-text>
  </div>

  <form #miformulario="ngForm" (ngSubmit)="crearCuenta()">
    <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" label="Usuario" 
      required  type="text" name="usr" [(ngModel)]="usuario.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" label="Contraseña"
      required type="password" name="pass" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" label="Rut"
      required type="rut" name="run" [(ngModel)]="usuario.rut"></ion-input>
    </ion-item>

    <ion-button color="success" type="submit" [disabled]="miformulario.invalid">
      Crear cuenta
    </ion-button>
  </ion-list>


  </form>

</ion-content>
