<app-header titulo="Inicio Sesión Arrendatario"></app-header>

<ion-content>

    <form #formularioArrendador="ngForm" (ngSubmit)="login()">
      <ion-list>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input required  type="text" name="usr" [(ngModel)]="usuario.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input required type="password" name="pass" [(ngModel)]="usuario.password"></ion-input>
      </ion-item>
      
      <ion-button class="ion-text-capitalize" type="submit" [disabled]="formularioArrendador.invalid">
        inicar sesión (como arrendador)
      </ion-button>
    </ion-list>


    </form>




</ion-content>